@charset "UTF-8";

/* 초기화 */
body,
h1,
h2,
h3,
ul,
p,
dl,
dd,
figure,
th,
td,
fieldset,
input {
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: 0;
}

small {
  font-size: inherit;
}

address {
  font-style: normal;
}

.hidden {
  position: absolute;
  left: -9999em;
}

/* 웹폰트 segoe */
@font-face {
  font-family: segoe;
  src:
    url(../font/segoeui.eot),
    url(../font/segoeui.ttf),
    url(../font/segoeui.woff);
}

body {
  font-family: 'segoe', sans-serif;
  min-width: 1200px;
  /* position: absolute 요소들의 기준점을 만들기 위함 */
  position: relative;
}

/* 헤더 */
#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  position: absolute;
  top: 25px;
  left: 20px;
}

#header h1 a {
  display: block;
  width: 249px;
  height: 51px;
  background: url(../image/logo.png) no-repeat;
  text-indent: -9999em;
}

#mnb {
  position: absolute;
  top: 25px;
  right: 30px;
}

#mnb ul {
  display: flex;
}

#mnb ul li {
  position: relative;
}

#mnb ul li a {
  font-size: 12px;
  line-height: 51px;
  padding: 5px 12px;
  color: #333;
}

#mnb .goLogin::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  height: 11px;
  border-left: 1px solid #bea082;
}

#mnb .goJoin::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  height: 11px;
  border-left: 1px solid #82a0be;
}

#gnb ul {
  display: flex;
  padding-left: 80px;
}

#gnb ul li {
  margin: 0 5px;
}

#gnb ul li a {
  text-transform: uppercase;
  padding: 0 10px;
}

#gnb ul li a:hover {
  border-bottom: 3px solid #00bff3;
  padding-bottom: 10px;
}

/* 푸터 */
#footer {
  border-top: 1px solid #a0a0a0;

}
#footerWrap {
  display: flex;
  justify-content: space-between;
  padding: 23px 80px 30px 200px;
  box-sizing: border-box;
  background: url(../image/logoFooter.png) no-repeat center left 25px;
}

#footer .sns {
  display: flex;
}
#footer .sns li {
  width: 33px;
  margin-left: 17px;
}
#footer .sns li a{
  display: block;
  width: 33px;
  height: 33px;
  text-indent: -999em;
  background: url(../image/bgSns.png) no-repeat;
}
#footer .sns .twitter a {
  background-position-x: right;
}
