@charset "UTF-8";

#container {}

#subHeader {
  width: 100%;
  height: 400px;
  text-align: center;
  background: no-repeat center top / cover;
}

#subHeader.subHeaderCompany {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/bgCompany.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

#subHeader.subHeaderCustomer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/bgSubCustomer.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

#subHeader h2 {
  line-height: 400px;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 400;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#snb {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

#snb ul {
  width: 1200px;
  display: flex;
}

#snb ul li {
  width: 25%;
}

#snb ul li a {
  line-height: 50px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  border-left: 1px solid #ccc;
  background: url(../image/bgSnb.png) no-repeat right 10px center;
}

#snb ul li:last-child a {
  border-right: 1px solid #ccc;
}

#snb ul li.on a {
  background-color: #faaf3a;
  color: white;
}

#subContent {
  width: 1200px;
  margin: 0 auto 50px;
}

#subContent h3 {
  margin: 50px 0 30px;
  color: #333;
  font-size: 50px;
  /* font-weight: normal; font-size: 50px; font-family: "Times New Roman"; */
  font: 50px "Times New Roman";
}

/* 서브컨텐츠 - company_welcome */
#subContent figure {
  text-align: center;
  float: right;
  margin: 0 0 15px 15px;
}

#subContent figure figcaption {
  font-size: 14px;
  color: #6a9fd3;
}

#subContent p {
  margin: 1em 0 1em 20px;
}

#subContent p:first-of-type {
  margin-top: 0;
}

/* 서브컨텐츠 - customer_notice */
#notice {
  width: 1200px;
  margin: 0 auto;
}

#notice th {
  background: linear-gradient(#68b0eb 0, #5fa7ef 25%,
      #3b92ef 49%, #338ae7 50%,
      #338bef 51%, #338bef 52%,
      #3083ed 75%, #2870df 100%);
  color: white;
  line-height: 30px;
  font-weight: normal;
  text-transform: capitalize;
}

#notice .no {
  width: 70px;
  border-radius: 5px 0 0 5px;
}

#notice .title {
  letter-spacing: 1em;
}

#notice .write {
  width: 130px;
}

#notice .date {
  width: 100px;
}

#notice .read {
  width: 100px;
  border-radius: 0 5px 5px 0;
}

#notice td {
  font-size: 18px;
  text-align: center;
  border-bottom: 1px dotted #9c9897;
  padding: 5px 0;
}

#notice td:nth-child(2) {
  text-align: left;
}

#notice td:nth-child(2) div {
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#noticeSearch {
  text-align: right;
  margin-top: 16px;
  margin-bottom: 34px;
}

#noticeSearch input {
  border-radius: 15px;
  height: 30px;
}

#searchBox {
  width: 222px;
  box-sizing: border-box;
  border: 1px solid #333331;
  background: #fefced;
}

#searchBtn {
  width: 90px;
  border: 1px solid #9d989e;
  background: linear-gradient(#68b0eb 0, #5fa7ef 25%,
      #3b92ef 49%, #338ae7 50%,
      #338bef 51%, #338bef 52%,
      #3083ed 75%, #2870df 100%);
  color: white;
}

#searchBtn:active {
  background: linear-gradient(#2870df 0, #3083ed 25%,
      #3b92ef 49%, #338ae7 50%,
      #338bef 51%, #338bef 52%,
      #5fa7ef 75%, #68b0eb 100%);
}

#pageControl {
  width: 500px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-evenly;

}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  #subHeader {
    height: 33vw;
  }

  #subHeader h2 {
    line-height: 33vw;
    font-size: 4.5vw;
  }
#snb {
  background-color: white;
  width: 100%;
}
  #snb ul li {
    width: 25%;
  }
  
  #snb ul li a {
    line-height: 4.2vw;
    font-size: 1.25vw;
    text-align: center;
    display: block;
    text-transform: uppercase;
    border-left: 1px solid #ccc;
    background-image: none;
  }

  .wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #subContent {
    width: 100%;
    margin: 0 auto 50px;
  }

  #subContent h3 {
    font-size: 2em;
    text-align: center;
  }

  #subContent figure {
    text-align: center;
    float: right;
    margin: 0 15px 15px 15px;
  }

  #subContent p {
    margin: 1em 1em 1em 20px;
  }

  #notice {
    width: 90%;
  }

  #notice th {
    width: 10%;
  }

  #notice td {
    font-size: 12px;
    padding: 5px 0;
  }

  #notice td:nth-child(2) div {
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #noticeSearch {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 34px;
  }

  #noticeSearch input {
    border-radius: 15px;
    height: 30px;
  }

  #searchBox {
    width: 222px;
    box-sizing: border-box;
    border: 1px solid #333331;
    background: #fefced;
  }

  #searchBtn {
    width: 90px;
    border: 1px solid #9d989e;
    background: linear-gradient(#68b0eb 0, #5fa7ef 25%,
        #3b92ef 49%, #338ae7 50%,
        #338bef 51%, #338bef 52%,
        #3083ed 75%, #2870df 100%);
    color: white;
  }

  #searchBtn:active {
    background: linear-gradient(#2870df 0, #3083ed 25%,
        #3b92ef 49%, #338ae7 50%,
        #338bef 51%, #338bef 52%,
        #5fa7ef 75%, #68b0eb 100%);
  }

  #pageControl {
    width: 500px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-evenly;

  }
}