@charset "UTF-8";
/* 초기화 */
body, h1, h2, h3, ul, p, figure {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
hr {
  display: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.hidden {
  position: absolute;
  left: -9999em;
}
/* 공통 */
body {
  background-color: #b8dbf8;
  font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
  width: 720px;
  margin: 0 auto;
}
/* 헤더 */
header {
  display: flex;
  background: url(../images/bg.png) no-repeat;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
header .title {
  height: 275px;
  margin-left: 500px;
}
header .title h1 {
  margin-top: 140px;
  margin-bottom: 30px;
}
header .title h1 a{
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
header .title h2 {
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
/* 네비 */
#gnb ul {
  display: flex;
  justify-content: space-around;
}
#gnb ul li a {
  width: 180px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  background-color: #003366;
  transition-property: background-color, color;
  transition-duration: .3s;
}
#gnb ul li a:hover {
  background-color: #ffdd6f;
  color: #003366;
}

/* 메인 */
#content {
  overflow: hidden;
  background-color: white;
  padding: 25px 12px 16px;
}
#content h2 {
  font-size: 22px;
  margin-bottom: 18px;
}
#content article h3 {
  font-size: 16px;
}
#content article figure {
  margin-top: 15px;
  margin-left: 40px;
}

#content article figcaption {
  font-size: 14px;
}
/* 푸터 */
#footer {
  background-color: #003300;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding: 25px 0 8px;
}
#footer p {
  margin-bottom: 18px;
}
#footer address {

}
#footer small {

}