@charset "UTF-8";
/* 초기화 */
body, h1, h2, h3, ul, p, figure {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
hr {
  display: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.hidden {
  position: absolute;
  left: -9999em;
}
/* 공통 */
body {
  background-color: #b8dbf8;
  font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
  width: 720px;
  margin: 0 auto;
}
/* 헤더 */
#header {
  height: 600px;
  background: url(../images/bg.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .title {
  text-align: center;
}
#header .title h1 {
  margin-bottom: 30px;
}
#header .title h1 a{
  font-size: 58px;
  color: white;
  text-shadow: 2px 2px 2px #000;
}
#header .title h2 {
  font-size: 25px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
/* 네비 */
#gnb {
  
}
#gnb ul {
  display: flex;
  /* justify-content: space-around; */
  /* a에서 다 정해줄 수 있으므로 생략 가능 */
}
#gnb ul li {
  width: 25%;
  /* 크기가 늘어나도 일정한 비율을 유지하도록! */
}
#gnb ul li a {
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  background-color: #003366;
  transition-property: background-color, color;
  transition-duration: .3s;
}
#gnb ul li a:hover {
  background-color: #ffdd6f;
  color: #003366;
}

/* 메인 */
main {
  background-color: #fff;
}
#content {
  padding: 25px 12px 0;
}
#content h2 {
  font-size: 22px;
}
#content article h3 {
  font-size: 16px;
  margin: 20px 0 15px;
}
#content article figure {
  padding: 0 0 15px 40px;
  font-size: 14px;
}
/* 푸터 */
#footer {
  padding: 25px 0 15px;
  background-color: #003300;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
#footer p {
  margin-bottom: 18px;
}