@charset "UTF-8";

/* 초기화 */
body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

.hidden {
  position: absolute;
  left: -9999em;
}

/* 웹폰트 */
@font-face {
  font-family: 'yleeMortalHeartImmortalMemory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #87ceeb, #fff 800px) no-repeat;
  font-family: 'Nanum Gothic', sans-serif;
}

#wrap {
  margin: 8px auto 0;
  border: 1px solid #e7e7e7;
  background: #fff;
}

/* 헤더 */
#header {
  width: 100%;
  height: 279px;
  background: url(../images/bg_header.png) no-repeat;
  background-size: cover;
  position: relative;
}

#header h1 a {
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: 700;
  color: yellow;
  font-size: 80px;
  font-family: 'yleeMortalHeartImmortalMemory';
}

/* 네비 */
#gnb ul {
  display: flex;
  height: 60px;
}

#gnb ul li {
  width: 25%;
}

#gnb ul li a {
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  background-color: #006600;
}

#gnb ul li a:hover {
  background-color: #fff;
  color: #003366;
}

/* 메인 */
main {
  background-color: #fff;
  width: 740px;
  height: 391px;
  float: left;
  padding: 20px 40px 20px 10px;
  box-sizing: border-box;
}

main h2 {
  font-weight: 700;
}

main h3 {
  margin: 10px 0;
  font-weight: 700;
}

main p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

/* 어사이드 */
#sidePhoto {
  width: 220px;
  float: right;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  background: #ddffdd;
}

#sidePhoto img {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 푸터 */
#footer {
  clear: both;
  padding: 20px 0;
  background-color: #061f1f;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* 1023 이하 600 이상 */
@media screen and (max-width: 1023px) {
  #wrap {
    width: 100%;
  }

  main {
    width: 100%;
    float: none;
  }

  #sidePhoto {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  #sidePhoto img {
    width: 176px;
  }
}

@media screen and (max-width: 599px) {
  body {
    background: none;
  }

  #wrap {
    margin: 0 auto;
    width: 100%;
    border: none;
    background: none;
  }

  #header {
    height: 75px;
    background: #061f1f;
  }

  #header h1 a {
    font-size: 40px;
    top: 5px;
    left: 10px;
  }

  #gnb ul {
    display: block;
    height: 219px;
    padding: 0 10px;
  }

  #gnb ul li {
    margin: 14px auto;
    width: 100%;
  }

  #gnb ul li a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 41px;
    color: #061f1f;
    background: none;
  }

  #gnb ul li a:hover {
    background: #ccc;
  }

  main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px 10px 20px;
    float: none;
  }

  main h2 {
    font-size: 20px;
  }

  main h3 {
    font-size: 16px;
  }

  main p {
    font-size: 13px;
  }

  #sidePhoto {
    width: 288px;
    float: none;
    background: none;
  }

  #sidePhoto img {
    width: 100%;
  }

  #footer {
    display: block;
    text-align: center;
  }

  #footer p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 18px;
  }

  #footer small {
    font-size: 11px;
    font-style: italic;
  }
}